.task-title > p {
    margin-bottom: 0px;
}

.task:not(:hover) .modify-options * {
    color: transparent;
}

.modify-options > *:hover,
.task-list-item:hover  {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.task {
    .form-group, .row p {
        margin-bottom: 0px;
    }
}

// .task-list-item:hover .modify-options > * {
//     display: inline-block;
// }

input.error {
    border-color: red;
}