.task-title > p {
    margin-bottom: 0px;
}

.task .modify-options * {
    display: none;
}

.modify-options > *:hover,
.task-list-item:hover  {
    cursor: pointer;
}

.task-list-item:hover .modify-options > * {
    display: inline-block;
}

input.error {
    border-color: red;
}